@charset "utf-8";

@font-face {
  font-family: Metal Lord;
  src: url('../fonts/metal-lord.ttf');
}

:root {
  --dark-gr: #3f3f3fdd;
  --light-gr: rgba(128, 128, 128, 0.9);
}

body {
  background-color: #000;
  color: #ddd;
}

#header {
  font-family: Metal Lord;
  text-shadow: 3px 3px 3px #838da5;
  font-size: 2em;
  text-align: center;
}

#wrapper {
  background-image: url('../images/steel.jpg');
  background-size: 1000px;
  background-repeat: no-repeat;
  max-width: 1000px;
  min-height: 700px;
  margin: auto;
  margin-top: 50px;
  border: 3px solid var(--light-gr);
}

#selector {
  width: 70%;
  text-align: center;
  margin: auto;
  padding-bottom: 50px;
}

.showing {
  font-size: 1.25rem;
  padding: 7px;
  margin: 10px auto 20px auto;
  border: 1px solid var(--light-gr);
  background-color: var(--dark-gr);
  width: 500px;
}

.show-name {
  font-family: Metal Lord;
  padding-right: 2rem;
}

#fretupdate {
  background-color: var(--dark-gr);
  text-align: center;
  margin: auto;
  border: 1px solid var(--light-gr);
  padding: 0.4rem;
  margin-top: 10px;
  width: 120px;
  font-size: 0.8em;
}

#fretupdate:hover {
  cursor: pointer;
}

#fretboard-wrapper {
  text-align: center;
  margin: auto;
}

.fretboard {
  border-collapse: collapse;
  margin: auto;
}

.nut,
.fret {
  width: 25px;
  height: 16px;
}

.nut {
  background-image: url('../images/nut_off.jpg');
}

.fret {
  background-image: url('../images/off.jpg');
}

.nut.on {
  background-image: url('../images/nut_on.jpg');
}

.fret.on {
  background-image: url('../images/on.jpg');
}

.nut.on.red {
  background-image: url('../images/nut_red.jpg');
}

.fret.on.red {
  background-image: url('../images/red.jpg');
}
